<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaeYHnFKEiVUNLvK9ICgI8iboh9KOMCyg</string>
	<key>GCM_SENDER_ID</key>
	<string>822399296694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kdc.piwotapp</string>
	<key>PROJECT_ID</key>
	<string>piwot-b559b</string>
	<key>STORAGE_BUCKET</key>
	<string>piwot-b559b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822399296694:ios:223c4e900f52cb9153b217</string>
</dict>
</plist>